html {
	background-color: #292C33;
}

p, h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	color: white;
}

.light-text, .footer {
	color: #cfd2da;
}

a {
	color: #1997c6;
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	color: #106382;
	text-decoration: none;
}

.parallax {
	background-image: url("./../images/APC_0381.jpg");
	background-size: cover;
}

.semiTransparent {
	background-color: rgba(0, 0, 0, 0.7);
}

hr {
	background-color: white;
}